.App {
  text-align: center;
  background-color: #35383a;
}
.row {
  display: flex;
  align-items: center;
}

.py-5 {
  background-color: #212529;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

.d-flex {
  padding-left: 10%;
}
.fa-brands {
  font-size: x-large;
}

.d-flex {
  padding-left: 0 !important;
}

.colordiv {
  width: 100%;
}
.bg-black {
  background: #000;
}

.skill-block {
  width: 30%;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .skill-block {
    padding: 32px !important;
  }
}

@media (min-width: 1200px) {
  .skill-block {
    padding: 56px !important;
  }
}

body {
  background-color: #eeeeee;
}
.footerc {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offset-1 {
  width: 400px !important;
}
.footerr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 6%;
}
